<% content_for :aside do %>
  <!-- SIDE MENU -->
  <aside class="header">
    <div class="nav-side-menu">
      <div class="brand"><a href="/"><i class="fa fa-home fa-lg"></i> <span>На главную</span></a></div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
          <ul id="menu-content" class="menu-content collapse out">
            
            <!--<li>
              <a href="#">
                <i class="fa fa-caret-right fa-lg"></i> Dashboard
              </a>
            </li>
            <li  data-toggle="collapse" data-target="#products" class="collapsed active">
              <a href="#"><i class="fa fa-caret-right fa-lg"></i> UI Elements <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="products">
              <li class="active"><a href="#">CSS3 Animation</a></li>
              <li><a href="#">General</a></li>
              <li><a href="#">Buttons</a></li>
              <li><a href="#">Tabs & Accordions</a></li>
              <li><a href="#">Typography</a></li>
              <li><a href="#">FontAwesome</a></li>
              <li><a href="#">Slider</a></li>
              <li><a href="#">Panels</a></li>
              <li><a href="#">Widgets</a></li>
              <li><a href="#">Bootstrap Model</a></li>
            </ul>
            <li data-toggle="collapse" data-target="#service" class="collapsed">
              <a href="#"><i class="fa fa-caret-right fa-lg"></i> Services <span class="arrow"></span></a>
            </li>  
            <ul class="sub-menu collapse" id="service">
              <li>New Service 1</li>
              <li>New Service 2</li>
              <li>New Service 3</li>
            </ul>
            <li data-toggle="collapse" data-target="#new" class="collapsed">
              <a href="#"><i class="fa fa-caret-right fa-lg"></i> New <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="new">
              <li>New New 1</li>
              <li>New New 2</li>
              <li>New New 3</li>
            </ul>-->
            <!--
            <li  data-toggle="collapse" data-target="#group3-test" class="collapsed active">
              <a href="#"><i class="fa fa-caret-right fa-lg"></i> Test <span class="arrow"></span></a>
            </li>-->

            <%@groups_second.each do |group_second|%>
            <%group_last=group_second.group3;if group_last[0] != nil%>
            <li data-toggle="collapse" data-target="#group3-<%=group_second.id%>" class="collapsed <%== group_second.id.to_s==@group_active_id?'active':''%>">
              <a href="/group2s/<%=group_second.id%>"><i class="fa fa-caret-right fa-lg"></i> <%=group_second.title%> </a><span class="arrow"></span>
            </li>
            <ul class="sub-menu collapse <%== group_second.id.to_s==@group_active_id?'in':''%>" id="group3-<%=group_second.id%>">
            <%group_last.each do |group| %>
              <a href="/group3s/<%=group.id%>"><li class="<%== group.id.to_s==@subgroup_active_id?'subactive':''%>"><%=group.title%></li></a>
            <%end%>
            </ul>
            <%else%>
            <li class="<%== group_second.id.to_s==@group_active_id?'active':''%>"><a href="/group2s/<%=group_second.id%>"><i class="fa fa-caret-right fa-lg"></i> <%=group_second.title%> </a></li>
            <%end%>
            <%end%>
  
          </ul>
        </div>
    </div>
  </aside><!-- // SIDE MENU -->
<%end%>