<% if request.user_agent =~ /Mobile|webOS/ %>

<div class="hero-mobile">
<%= image_tag @mobile_background.image.url, alt: @mobile_background.title, class: 'mobile_background img-responsive'  %>
</div>
<%else%>
<iframe id="myiFrame" src="/pages" style="border:0px;-webkit-overflow-scrolling: touch;overflow: auto; margin: 0px; padding: 0px; background-color: <%=@slogan.code%>" scrolling="no" width="100%"></iframe>
<div class="hero">
  <div class="logo-baner"><%= image_tag @logo_baner.image.url, alt: @logo_baner.title, class: 'img-responsive' %></div>
  <h1><span>Авторизированная сервисная компания</span><br>Мы ценим Ваше время</h1>
  <div class="inner text-center">
    <h1>
      <%= @slogan.description.html_safe %>
    </h1>
  </div>
</div><!-- // HEAD BANER -->
<%end%>
<hr style="border-bottom: 4px solid #47a3da;">


<section id="brands">
  <div class="container text-center">
    <h1>Главный авторизированный сервисный центр в Липецке</h1>
  </div>
  <div class="row">
    <% count = 0; @brands.each do |brand| %>
    <%= count>=3? (count=1;'</div><div class="row">'.html_safe) : (count+=1;'') %>
    <div class="col-md-4">
      <a href="<%=brand.url%>" target="_blank">
      <div class="brand-warpaper">
        <%= image_tag brand.image1.url, alt: brand.title, class:"img-responsive img-nocolor" if brand.image1_stored? %>
        <%= image_tag brand.image.url, alt: brand.title, class:"img-responsive img-color" if brand.image_stored? %>
      </div>
      </a>
    </div>
    <%end%>
  </div>
</section>

<section id="service">
  <div class="service"></div>
  <a href="http://digital48.ru/pages/chastpc#repair"></a>
  <div class="container-fluid">
    <% @count = 0; @master_group.each do |group1| %>
    <%= @count>=3? (@count=1;'</div><div class="row">'.html_safe) : (@count+=1;'') %>
    <div class="col-md-4">
      <div class="hblocks">
        <div><p><i class="fa fa-user" aria-hidden="true"></i><a href="/group1s/<%=group1.id%>"> <%=group1.title%></p></div>
        <ul>
          <% group1.group2.each do |group2|%>
          <a href="/group2s/<%=group2.id%>"><li><%=group2.title%></li></a>
          <%end%>
        </ul>
      </div>
    </div>
    <%end%>
  </div>  
</section>

<section id="flexSlider" class="margtop30">
        <div class="slider-container">
            <div class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <% Slider.all.each do |slide|%>
                        <li>
                            <%= image_tag slide.image.url if slide.image_stored? %>
                            <% if slide.description and slide.description != '' then %>
                              <div class="flex-caption">
                                <%=slide.description.html_safe%>
                              </div>
                            <%end%>
                        </li>
                        <%end%>
                    </ul>
                </div>
            </div>
        </div>
</section>

<!--
<section id="sliderWrap">
  <div class="container ">
    <div id="metaslider" class="flexslider">
      <ul class="slides">
        <% Slider.all.each_with_index do |slide,index| %>
        <%== if index==0 then '<li class="flex-active-slide">' else '<li class="">' end %>
          <%= image_tag slide.image.url, alt: "slide1", class: "slider-38 slide-42", size: "1170x396", draggable: "true" %>
          <div class="caption-wrap">
            <div class="caption">
              <%= slide.description.html_safe %>
            </div>
          </div>
        </li>
        <%end if 4==5%>
      </ul>
    </div>
  </div>
</section> -->

<section id='aboutcompany' style="background-image: url(<%=@slogan.image.url if @slogan.image_stored?%>)">
  <div class="container margtop30 aboutcompany">
    <legend><h2 class="block-title">
      <span><b>О</b> Компании</span> <small><a href="/certificates">все сертификаты</a></small>
    </h2></legend>
    <%=@aboutcompany.slave.html_safe%>
    <%@cert_company.sort_by(&:sort).take(4).each do |cert| %>
      <div class="col-sm-3">
        <%= image_tag cert.image.url, class: 'img-responsive gallery-img', alt: cert.title if cert.image_stored? %>
      </div>
    <%end%>
    <div style="clear: both;padding-top: 24px;"></div>
    <%=@aboutcompany.description.html_safe%>
    <p>&nbsp</p>
  </div>
</section>


<section id='projects'>
  <div class="projects-block projects">
    <div class="container"><legend><h2 class="block-title">
      <span><b>Крупные</b> Проекты</span> <small><a href="/clients">реализованные проекты</a></small>
    </h2></legend></div>
    <div class="owl-carousel">
      <% Client.all.each do |client| %>
      <% if client.image_stored? %>
      <div class="owl-element">
        <div class="owl-paper">
          <div class="img-warp">
            <%= image_tag client.image.url, class: 'img-responsive', alt: 'title' %>
          </div>
          <div class="text-cap text-center"><span><%= client.slave %></span></div>
          <div class="btn-cap nice-buttons">
            <div class="buttons"><a class="btnn blue" onclick="return goTo('/projects/<%=client.id%>');">Подробнее</a></div>
          </div>
        </div>
      </div>
      <%end;end%>
    </div>
  </div>
</section>


<section id='utilize'>
  <div class="container margtop30">
    <legend><h2 class="block-title">
      <span><b>Программа</b> Утилизации</span> <small><a href="javascript:void(0);">утилизируем технику</a></small>
    </h2></legend>
    <%=@utilize.title.html_safe%>
    <div class="row ">
      <div class="col-md-6"><div class="utilize"><%=image_tag @utilize.image.url, class: 'img-responsive gallery-img', alt: @utilize.title %></div></div>
      <div class="col-md-6 nice-buttons">
        <div class="margtop70"><%=@utilize.description.html_safe%></div>
        <div class="buttons">
          <a class="btnn blue" onclick="return goTo('/pages/utilize');">Подробнее</a>
          <a class="btnn purple" onclick="return goTo('/prices/19');">Прайс-лист</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id='mainContact'>
  <div class="container margtop30">
    <legend><h2 class="block-title messages">
      <span><b>Наше</b> местоположение</span> <small><a href="/messages">реквизиты & схема проезда</a></small>
    </h2></legend>
  </div>
  <div class="embed-responsive map-heigth"><iframe class="embed-responsive-item" src="/slave/index"></iframe></div>
</section>

<section id='clients'>
  <div class="container margbottom30 margtop30">
    <legend><h2 class="block-title">
      <span><b>Наши</b> Клиенты</span> <small><a href="/reviews">мнения клиентов</a></small>
    </h2></legend>

    <!-- CARUSEL - Our Clients-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="row item active container text-center">
        <% count = 0; Client.all.each do |client| %>
        <%= count>=4? (count=1;'</div><div class="row item container text-center">'.html_safe) : (count+=1;'') %>
          <%= image_tag client.image.url, alt: client.title, class: 'col-md-3 col-sm-3 img-responsive' %>
        <%end%>
        </div>
      </div>

      <div align="center" style="margin-top:20px;">
      <!-- Controls -->
        <a class="left" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div><!-- // CARUSEL - Our Clients-->
  </div>
</section>
