<section id="pageWrap">
  <% title,group,name = @page.title.split '>' %>
  <div class="page-header">
    <span><%=title%></span>
  </div>
  <% content_for :title, " | #{title} | #{group} | " %>
  <div class="page-text container-fluid">
      <legend><h2 class="block-title">
        <% first,second = group.split ' ' %>
        <span><b><%=first%></b> <%=second%></span> <small><a href="javascript:void(0);"><%=name%></a></small>
      </h2></legend>
      <div class="content">
        <%= @page.description.html_safe %>
      </div>
  </div>
</section>