<section id="menu">
    <div class="container">
      <header class="clearfix">
        <style type="text/css">
          .logo {
            background-image: url(<%=@logo.image.url%>);
          }
        </style>
          <div class="logo">
            <div class="phone"><i class="fa fa-phone" aria-hidden="true"></i> 7 <u>(</u>4742<u>)</u> 35 63 10</div>
          </div>
          <nav class="social">
            <div><a href=""><i class="fa fa-vk" aria-hidden="true"></i></a></div>
            <div><a href=""><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a></div>
            <div><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
          </nav>
      </header> 
      <div class="main" id="mainmenu">
        <nav id="cbp-hrmenu" class="cbp-hrmenu">
          <ul>
            <li>
              <a href="#">Информация</a>
              <div class="cbp-hrsub">
                <div class="cbp-hrsub-inner"> 
                  <div>
                    <h4>Общая информация</h4>
                    <ul>
                      <li><a href="#">О компании</a></li>
                      <li><a href="#">Реквезиты</a></li>
                      <li><a href="#">Отзывы</a></li>
                    </ul>
                    <h4>Сотрудничество</h4>
                    <ul>
                      <li><a href="#">Партнеры</a></li>
                    </ul>
                  </div>
                  <div>
                    <h4>Квалификация</h4>
                    <ul>
                      <li><a href="#">Сертификаты компании</a></li>
                      <li><a href="#">Сертификаты инженеров</a></li>
                      <li><a href="#">Прочие документы</a></li>
                    </ul>
                    <h4>Обратная связь</h4>
                      <ul>
                        <li><a href="#">Контакты & Местоположение</a></li>
                      </ul>
                  </div>
                  <div>
                    <h4>Портфолио</h4>
                    <ul>
                      <li><a href="#">Реализованные проекты</a></li>
                      <li><a href="#">Наши клиенты</a></li>
                    </ul>
                  </div>
                </div><!-- /cbp-hrsub-inner -->
              </div><!-- /cbp-hrsub -->
            </li>
            <li>
              <a href="#">ИТ Аутсорсинг</a>
              <div class="cbp-hrsub">
                <div class="cbp-hrsub-inner">
                  <div>
                    <h4>Офисная оргтехника</h4>
                    <ul>
                      <li><a href="#">Обслуживание офисной оргтехники</a></li>
                      <li><a href="#">Ремонт офисной оргтехники</a></li>
                      <li><a href="#">Консалтинг по офисной оргтехники</a></li>
                    </ul>
                    <h4>Персональный Компьютер</h4>
                    <ul>
                      <li><a href="#">Апгрейд парка ПК</a></li>
                      <li><a href="#">Обслуживание парка ПК</a></li>
                      <li><a href="#">Консалтинг</a></li>
                      <li><a href="#">Бесплатная оценка</a></li>
                    </ul>
                  </div>
                  <div>
                    <h4>Серверное оборудование</h4>
                    <ul>
                      <li><a href="#">Консалтинг «Решение под ключ»</a></li>
                      <li><a href="#">Обслуживание Windows - Систем</a></li>
                      <li><a href="#">Обслуживание Linux - Систем</a></li>
                      <li><a href="#">Обслуживание Unix - Систем</a></li>
                      <li><a href="#">Обслуживание MacX - Систем</a></li>
                      <li><a href="#">Востановление данных</a></li>
                      <li><a href="#">Реализация систем архивации</a></li>
                      <li><a href="#">Защита информации & Безопатность</a></li>
                      <li><a href="#">Кластеризация</a></li>
                    </ul>
                  </div>
                  <!--
                  <div>
                    <h4>Games</h4>
                    <ul>
                      <li><a href="#">Catch the Bullet</a></li>
                      <li><a href="#">Snoopydoo</a></li>
                      <li><a href="#">Fallen Angel</a></li>
                      <li><a href="#">Sui Maker</a></li>
                      <li><a href="#">Wave Master</a></li>
                      <li><a href="#">Golf Pro</a></li>
                    </ul>
                  </div>
                  -->
                </div><!-- /cbp-hrsub-inner -->
              </div><!-- /cbp-hrsub -->
            </li>
            <li>
              <a href="#">Частному Лицу</a>
              <div class="cbp-hrsub">
                <div class="cbp-hrsub-inner"> 
                  <div>
                    <h4>Компьютерная техника</h4>
                    <ul>
                      <li><a href="#">Обслуживание</a></li>
                      <li><a href="#">Ремонт</a></li>
                    </ul>
                    <h4>Смартфоны и планшеты</h4>
                    <ul>
                      <li><a href="#">Замена АКБ</a></li>
                      <li><a href="#">Ремонт Дисплея</a></li>
                      <li><a href="#">Разблокировка</a></li>
                      <li><a href="#">Обновление ПО</a></li>
                      <li><a href="#">Профилактика</a></li>
                    </ul>
                  </div>
                  <div>
                    <h4>Оргтехника</h4>
                    <ul>
                      <li><a href="#">Ремонт</a></li>
                      <li><a href="#">Обслуживание</a></li>
                      <li><a href="#">Диагностика</a></li>
                    </ul>
                    <h4>Расходные материалы</h4>
                    <ul>
                      <li><a href="#">Продажа картриджей</a></li>
                      <li><a href="#">Заправка картриджей</a></li>
                      <li><a href="#">Ремонт картриджей</a></li>
                    </ul>
                  </div>
                </div><!-- /cbp-hrsub-inner -->
              </div><!-- /cbp-hrsub -->
            </li>
            <li>
              <a href="#">Утилизация</a>
              <div class="cbp-hrsub">
                <div class="cbp-hrsub-inner"> 
                  <div>
                    <h4>Learning &amp; Games</h4>
                    <ul>
                      <li><a href="#">Catch the Bullet</a></li>
                      <li><a href="#">Snoopydoo</a></li>
                      <li><a href="#">Fallen Angel</a></li>
                      <li><a href="#">Sui Maker</a></li>
                      <li><a href="#">Wave Master</a></li>
                      <li><a href="#">Golf Pro</a></li>
                    </ul>
                    <h4>Utilities</h4>
                    <ul>
                      <li><a href="#">Gadget Finder</a></li>
                      <li><a href="#">Green Tree Express</a></li>
                    </ul>
                  </div>
                  <div>
                    <h4>Entertainment</h4>
                    <ul>
                      <li><a href="#">Gadget Finder</a></li>
                      <li><a href="#">Green Tree Express</a></li>
                      <li><a href="#">Green Tree Pro</a></li>
                      <li><a href="#">Holy Cannoli</a></li>
                      <li><a href="#">Wobbler 3.0</a></li>
                      <li><a href="#">Coolkid</a></li>
                    </ul>
                  </div>
                </div><!-- /cbp-hrsub-inner -->
              </div><!-- /cbp-hrsub -->
            </li>
            <li>
              <a href="#">Аренда техники</a>
              <div class="cbp-hrsub">
                <div class="cbp-hrsub-inner"> 
                  <div>
                    <h4>Utilities</h4>
                    <ul>
                      <li><a href="#">Green Tree Pro</a></li>
                      <li><a href="#">Wobbler 3.0</a></li>
                      <li><a href="#">Coolkid</a></li>
                    </ul>
                    <h4>Education</h4>
                    <ul>
                      <li><a href="#">Learn Thai</a></li>
                      <li><a href="#">Math Genius</a></li>
                      <li><a href="#">Chemokid</a></li>
                    </ul>
                  </div>
                  <div>
                    <h4>Professionals</h4>
                    <ul>
                      <li><a href="#">Success 1.0</a></li>
                      <li><a href="#">Moneymaker</a></li>
                    </ul>
                  </div>
                  <div>
                    <h4>Learning &amp; Games</h4>
                    <ul>
                      <li><a href="#">Catch the Bullet</a></li>
                      <li><a href="#">Snoopydoo</a></li>
                      <li><a href="#">Fallen Angel</a></li>
                      <li><a href="#">Sui Maker</a></li>
                      <li><a href="#">Wave Master</a></li>
                      <li><a href="#">Golf Pro</a></li>
                    </ul>
                  </div>
                </div><!-- /cbp-hrsub-inner -->
              </div><!-- /cbp-hrsub -->
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <%= javascript_include_tag 'cbpHorizontalMenu.min' %>

    <script>
      $(function() {
        cbpHorizontalMenu.init();
      });
    </script>
</section>
    

<section id="sliderWrap">
  <div class="container">
    <div id="metaslider" class="flexslider">
      <ul class="slides">
        <% Slider.all.each_with_index do |slide,index| %>
        <%== if index==0 then '<li class="flex-active-slide">' else '<li class="">' end %>
          <%= image_tag slide.image.url, alt: "slide1", class: "slider-38 slide-42", size: "1170x396", draggable: "true" %>
          <div class="caption-wrap">
            <div class="caption">
              <%= slide.description.html_safe %>
            </div>
          </div>
        </li>
        <%end%>
      </ul>
    </div>
  </div>
</section>