<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @group4.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group4.description %>
</p>

<p>
  <strong>Slave:</strong>
  <%= @group4.slave %>
</p>

<p>
  <strong>Image uid:</strong>
  <%= @group4.image_uid %>
</p>

<p>
  <strong>Image name:</strong>
  <%= @group4.image_name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @group4.url %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @group4.sort %>
</p>

<%= link_to 'Edit', edit_group4_path(@group4) %> |
<%= link_to 'Back', group4s_path %>
