<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @certificate.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @certificate.description %>
</p>

<p>
  <strong>Slave:</strong>
  <%= @certificate.slave %>
</p>

<p>
  <strong>Image uid:</strong>
  <%= @certificate.image_uid %>
</p>

<p>
  <strong>Image name:</strong>
  <%= @certificate.image_name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @certificate.url %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @certificate.sort %>
</p>

<%= link_to 'Edit', edit_certificate_path(@certificate) %> |
<%= link_to 'Back', certificates_path %>
