<!DOCTYPE html>
<html>
<head>
  <title>Диджитал Сервис <%= yield :title %> - Крупнейший в Липецке Авторизованный сервисный центр</title>
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/ico/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/ico/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/ico/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/ico/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/ico/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/ico/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/ico/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/ico/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/ico/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/assets/ico/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/ico/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/ico/favicon-16x16.png">
  <link rel="manifest" href="/assets/ico/manifest.json">
  <link href='https://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/ico/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">


  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta name="description" content="Ремонт компьютеров и ноутбуков, смартфонов и планшетов, принтеров, МФУ и сканеров в Липецке. Утилизация электронного оборудования. Заправка картриджей">
  <meta name="keywords" content="Ремонт смартфонов и планшетов, Обслуживание и ремонт оргтехники, Ремонт смартфонов и планшетов, Обслуживание и ремонт компьютерной техники, Заправка картриджей, Продажа картриджей и расходных материалов, Консалтинг офисной техники, IT - Аутсорсинг, Контроль и управление печатью, Утилизация оборудования, Обслуживание и ремонт серверного оборудования, Продажа профессиональной и офисной техники, Service Desk,утилизация, ремонт телефонов, сервис-центр, сервис, сервис центр, сервисцентр, ремонт lenovo, ремонт смартфонов, ремонт смартфонов липецк, ремонт сотовых, ремонт сотовых телефонов, ремонт планшетов, ремонт ноутбуков, ремонт компьютеров, ремонт компьютеров липецк , компьютерная помощь, ремонт ноутбуков, ремонт пк, заправка картриджей, ремонт планшетов, ремонт принтеров, аутсорсинг, аутсорсинг печати, аутсорсинг техники, консалтинг, консалтинг печати, консалтинг техники, обслуживание серверов, обслуживание серверного оборудования, контроль печати, управление печатью" />
  <meta name="author" content="otklik.pw" />
  <meta property="og:title" content="Сломался компьютер? Горит сделка? Не печатает договор принтер? Срочно звони нам!">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:description" content="Ремонт и обслуживание компьютерной, мобильной и офисной техники. Утилизация электронного оборудования. Заправка и восстановление картиджей, профессиональной ремонт офисной техники, гарантийное обслуживание компьютеров">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body style="background-image: url('<%=@background_body.image.url%>')">

<!-- The Modal -->
<!-- For use modal <img class="gallery-img" src="<%=%>" alt="<%=%>" height="auto"> // For use modal-->
<div id="modalWarpaper" class="modal" style="z-index: 9999">
  <span class="closeModal">&times;</span>
  <img id="imgWarpaper">
  <div id="captionText"></div>
</div><!-- // The Modal -->

<section id="container" class="">
  <!-- /.preloader 
  <div id="preloader"></div>-->
  <%=@cert.description.html_safe%> 
  <!-- // MAIN MENU -->
  <header class="main_h">
      <a class="logo" href="/"><%= image_tag @logo.image.url, alt: @logo.description, height: '70' %><span><i aria-hidden="true" class="fa fa-phone"></i> 7 4742 35 63 10</span></a>
      <div class="mobile-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav>
        <ul>
        <% if current_page?(root_path) %>
          <li><a href=".service" onklick="return gotIf();">УСЛУГИ & ЦЕНЫ</a></li>
          <li><a href=".aboutcompany">О КОМПАНИИ</a></li>
          <li><a href=".projects">ПРОЕКТЫ</a></li>
          <li><a href=".messages">КОНТАКТЫ</a></li>
        <%else%>
          <li><a href="/#service">УСЛУГИ & ЦЕНЫ</a></li>
          <li><a href="/#aboutcompany">О КОМПАНИИ</a></li>
          <li><a href="/projects">ПРОЕКТЫ</a></li>
          <li><a href="/messages">КОНТАКТЫ</a></li>
        <%end%>
        </ul>
      </nav>
  </header>

  <!-- !!! -->
  <%= yield :aside %>

  <!-- <section id="main-content">||<section id="index-content"> --><!-- in yield -->
  <!-- !!! -->
    <%= yield %>
    <hr style="border-bottom: 4px solid #47a3da;">
    <section id="footer">
      <!-- CONTAINER -->
      <div class="container">
      <!-- ROW -->
        <div class="row animated fadeInUp" data-appear-top-offset="-200" data-animated="fadeInUp">
          <div class="col-lg-4 col-md-4 col-sm-6 padbot30 adress">
            <h4><b>Контакты</b> Местоположение</h4>
            <%=@worktime.slave.html_safe%>
            <div class="padbot30"></div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 padbot30">
            <h4><b>Часы</b> работы</h4>
            <div class="recent_posts_small clearfix">
              <div class="time">
                <%=@worktime.description.html_safe%>
                <br><i style="font-size: 7pt">* праздничные дни являются сокращенными - часы работы уточняйте по телефону</i>
              </div>
            </div>
          </div>
          <div class="respond_clear"></div>
          <div class="col-lg-4 col-md-4 padbot30">
            <h4><b>Напишите</b> Нам</h4>
            <!-- CONTACT FORM -->
            <div class="span9 contact_form">
              <div id="note"></div>
              <div id="fields">
                <%= form_for @message, html: { id: "contact-form-face", class: "clearfix" } do |f| %>
                  <input class="form-control" name="message[name]" value="Имя" onfocus="if (this.value == 'Имя') this.value = '';" onblur="if (this.value == '') this.value = 'Имя';" type="text">
                  <textarea class="form-control" name="message[description]" onfocus="if (this.value == 'Сообщение') this.value = '';" onblur="if (this.value == '') this.value = 'Сообщение';">Сообщение</textarea>
                  <input class="form-control" value="Отправить сообщение" type="submit">
                <%end%>
              </div>
            </div><!-- //CONTACT FORM -->
          </div>
        </div><!-- //ROW -->
        <div class="row copyright">
          <div class="col-lg-12 text-center">
            <p><br>&copy; «ДИДЖИТАЛ-Сервис» - Права защищены законом РФ. Разработано <i class="fa fa-heart"></i> <a href="#" class="developed">ОткликПавэр</a></p>
          </div>
        </div><!-- //ROW -->
      </div><!-- //CONTAINER -->
    </section>
  </section>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
<%= @footer.description.html_safe if @enable_footer %>
</section>
</body>
</html>
